:root {
  --width: min(30rem, 90vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100svh;
}

.primary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: var(--width);
}

.primary img {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}

.primary .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  margin: 0 1rem;
}

#hero h1 {
  font-size: 2.5rem;
}

#hero h2 {
  font-size: 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: var(--width);
}

.links a {
  text-align: center;
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid #000;
}

.links svg {
  width: 1.5rem;
  height: 1.5rem;
}

.socials a {
  min-width: calc((var(--width) / 2) - 0.5rem);
}

.resume a {
  min-width: var(--width);
}
